{% extends 'base.html.twig' %}

{% block title %}Modifier l'Offre d'Emploi{% endblock %}

{% block body %}
    <h1>Modifier l'Offre d'Emploi : {{ jobOffer.title }}</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
{% endblock %}