{% extends 'base.html.twig' %}

{% block title %}Nouvelle Offre d'Emploi{% endblock %}

{% block body %}
    <h1>Nouvelle Offre d'Emploi</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}